header {
	height: 500px;
	background: url(../images/ps_neutral.png);
	margin: 0;
	padding: 10px;
	h1, h2, h3 {
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: $slate;
	}

	h1 {
		font-size: 60px;
		margin-top: 150px;
		margin-bottom: 20px;
	}

	h3 {
		margin-bottom: 40px;
	}

	h2 {
		font-size: 25px;
		margin-bottom: 100px;
	}
}

section.gallery {
	background: linear-gradient(#fcfcfc, #eee);
	padding-bottom: 40px;
	.wrapper {
		display: flex;
	}
}

ul.gallery {
	margin-left: 0;
	margin-top: -80px;
	box-shadow: 0 10px 5px #ccc;
	padding: 15px;
	background: #fcfcfc;
	li.insta {
		position: relative;
		a {
			
		}
		img {
			-webkit-filter: desaturate;
		}
		background: white;
		margin-bottom: 15px;
		p.likes, p.captions {
			padding: 5px 10px 10px;
			color: RGBA(43, 48, 58, 1);
		}
		p.likes {
			text-align: center;
			margin: 0;
			span {
				color: RGBA(228, 79, 125, 1);
			}
		}
		div.overlay {
			position: absolute;
			top: 10px;
			left: 10px;
			right: 10px;
			bottom: 50px;
			padding: 5px 10px;
			text-align: center;
			background: RGBA(43, 48, 58, 0.8);
			color: white;
			opacity: 0;
			line-height: 1.4;
			transition: all 0.2s;
			display: flex;
			align-items: center;

			&:hover {
				opacity: 1;
				cursor: crosshair;
			}
			p {
				// margin: 0;
				color: $ice;
			}
		}
	}
}

footer {
	font-size: 20px;
	background: $slate;
	padding: 20px;
	color: $ice;
	text-align: center;
	p.me {
		font-size: 16px;
	}
	a {
		display: inline;
		padding: 0 5px;
		margin: 0 2px;
		color: $slate;
		background: $ice;
		text-decoration: none;
		border-radius: 5px;
		transition: all 0.2s;
		&:hover{
			background: $slate;
			color: RGBA(228, 79, 125, 1);
		}
	}
}
